# Prevents Nix results from `nix build`, etc, from being checked in
# accidentally.
*result*

# Github Workflows are not what we use to perform CI, we use Hercules-CI
# instead.
.github/workflows

# Dockerfiles, or docker-compose files are not how we build or deploy software.
# Only Nix expressions are allowed.
*Dockerfile*
*docker-compose*
